body{
    width: 100%;
    height:100%;
    background-color: #1D1D1B;
    }
    
    h2{
        font-family: Roboto 300px, sans-serif;
        color: red;
        text-align: center;
        display: block;
        font-size: 3em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
  
    }
    
    footer{
        font-family: Roboto 6px, sans-serif;
        color: white;
        text-align: center;
        padding: 40px;  
    }
    
    
    .logo{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
    .carrinho{
        display: block;
        margin-right: auto;
        margin-left: auto;

    }
    
      
    
    nav> a{
        padding: 20px;
        font-family: Roboto 50px, sans-serif;
        color: white;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        display: inline-block;
        margin: 0px 20px 0px;
    }
    
    
    nav> a:hover{
        background-color: rgb(20, 105, 161);
        color:white;
    }
    
    
    nav{
        text-align: center;
    }