body{
width: 100%;
height:100%;
background-color: black;
}
    
h2{
font-family: Roboto 30px, sans-serif;
color: white;
text-align: center;
padding-bottom: 5px;  
}

p{
    font-family: Roboto 30px, sans-serif;
    color: white;
    text-align: center;     
    font-size: 20px 
}
    
    
figure img{
display: block;
margin-right: auto;
margin-left: auto;
}
    

.figuras{
display: block;
margin-right: auto;
margin-left: auto;
width:95%;
}

.imagens{
    background-color: #121212; 
    padding: 5px ; 
    margin-left: auto; 
    margin-right: auto; 
    
}

.img_banner{
    background-color: #1D1D1B; 
    padding: 5px; 
    margin-left: auto; 
    margin-right: auto; 
}


.navbar{
    overflow: hidden;
    background-color: black; 
    font-family: Roboto 5px, sans-serif; 
    font-weight: bold;  
    text-align: center;
}
    
    
.navbar a{
display: inline-block;
padding: 14px 16px;
font-size: 18px;
color: white;
text-align: center;
text-decoration: none;
margin: 0px 20px 0px;
}

.dropdown {
 display: inline;
 overflow: hidden;
}
  
.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;    
    font-size: 18px;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: rgb(34, 94, 204);
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 150px;
    
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
   
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.show {
    display: block;
    margin-left: 365px;
}

#panel, #flip{
    padding: 5px;
    text-align: center;
    background-color: rgb(34, 94, 204);
    border: solid 1px whitesmoke;
    color: white;
    font-family: Roboto 30px sans-serif;
    font-size: x-large;
}

#panel{
    padding: 50px;
    display: none;
}


{box-sizing:border-box}
body {font-family: Roboto, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px rgb(34, 94, 204);
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: rgb(34, 94, 204);
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: white;
    font-weight: bold;
}
    
.corpo{
    background-color: #1D1D1B ;
    padding: 14px 16px;
}


footer{
font-family: Roboto 6px, sans-serif;
color: white;
text-align: center;
padding: 40px;  
}